/*.side-bar{
    height:300px;
    width: 300px;
    float:right;
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    }
.box{
    position:relative;
    float:right;
    height:800px;
    width:200px ;
}
.container{
    display:flex;
}
.bottom-logo{
    position:absolute;
    margin-top:auto;
    text-align:center;
    background-color:teal;
    }
.bottom-link{   
    flex-direction:row;
    flex-wrap:nowrap;
}
/*main{
    display:block;
    margin-right:25%;
    border-style:solid;
}*/

.container{
    display:grid;
    max-width:1440px;
    margin-left:auto;
    margin-right:auto;

}

header{
    background-color:hwb(190 15% 33%);
    color:white;
    font-family:sans-serif;
    font-size:20px;
    padding-left:10em;
    padding-top:2em;
    padding-bottom:3em;
    margin-left:10%;
    margin-right:10%;
}
.kitties-italic{
    font-style:italic;
    font-size:20px;
}
.navigation-bar
{
    padding-left:13em;
    color:rgb(64, 10, 10);
    font-family:sans-serif;
    font-weight:bold;
    font-size:12px;
    padding-top:1%;
    padding-bottom:1%;
    margin-left:10%;
    margin-right:10%;
    background-color:lightgray;

}
#link{
    color:black;

}
a{
    color:teal;
    text-decoration:none;
}

main{
    font-family:sans-serif;
}
.box{
    display:flex;
    flex-direction:column;
    justify-content:first baseline;
    width:20em;
    margin:0 0 20% 0;
}
.side-bar{
    display:flex;
    flex-direction:column;
    float:right;
    width:20em;
    padding:5% 10% 5% 0%;
    font-size:12px;
    font-family:sans-serif;
    margin-right:10%;
}

.cat-pic{
    width:20em;
    margin-left:1%;

}
img{
    max-width:95%;
    max-height:auto;
}
h3{
    font-size:18px;
    font-variant: small-caps;
}
.bottom-logo{
    font-size:10px;
    text-align:center;
    display:block;
    padding-bottom:2%;
    background-color:rgb(79, 74, 74);
    color:white;    
    font-family:sans-serif;
    margin-left:10%;
    margin-right:10%;
}
.fa-cat{
    padding-top:6%;
    font-size:5em;
    font-family:sans-serif;
    font-style:italic;
}
.box-two
{
    display:flex;
    flex-direction:column;
    width:40%;
    padding-top:2em;
    padding-left:2em;
    margin-left:16%;
    margin-right:10%;
}
.quote{
    font-size:18px;
    color:rgb(83, 176, 176);
}
.jeremy{
    padding-top:.1%;
    font-style:italic;
}
.short-story{
    padding-bottom:5%;
}
.bottom-link{
    color:white;
    font-weight:bold;
}
.LLC{
    padding-top:2%;
}
