.side-bar{
    height:300px;
    width: 300px;
    float:right;
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    }
.bottom-logo{
    margin-top:auto;
    text-align:center;
    background-color:teal;
    }
.bottom-link{   
    flex-direction:row;
    flex-wrap:nowrap;
}
main{
    display:block;
    margin-right:25%;
    border-style:solid;
}
.box{
    height:300px;
    width:200px ;
}
.fa-solid,
.fa-cat{
}